<template>
    <div>
        <app-header />
        <router-view></router-view>
    </div>
</template>

<script>

    import header from "./header";

    export default {
        components: {
            'app-header' :header,
        }
    }
</script>

<style scoped>

</style>
