
<template>
    <nav>
        <ul>
            <li><router-link :to="{name:'products'}" exact>Products List</router-link></li>
            <li><router-link :to="{name:'show'}" exact>Single product</router-link></li>
        </ul>
    </nav>
</template>

<script>
    export default {

    }
</script>

<style scoped>
    ul{
        list-style-type: none;
        text-align: center;
        margin: 0;
    }
    li{
        display: inline-block;
        margin: 0 10px;
    }
    a{
        color: #fff;
        text-decoration: none;
        padding: 6px 8px;
        border-radius: 10px;

    }
    nav{
        background: #444;
        padding: 14px 0;
        margin-bottom: 40px;
        position: sticky;
        top: 5px;
        width: 100%;
    }

</style>
