<template>
    <div>
    <PDataTable
        hasPagination
        @input-filter-changed="handleSearch"
        :pagination="{
        hasPrevious: is_previous,
        hasNext: is_next,
        onNext: handleNext,
        onPrevious: handlePrevious
    }"
        :actions="[
        {
          onAction: handleUpdate,
          icon: 'EditMajorMonotone'
        },{
          onAction: handleDelete,
          icon: 'DeleteMajorMonotone',
          destructive: true
        }
      ]"
        :headings="[{
        content: 'Product',
        value: 'product',
        type: 'text',
        sortable: true,
        width: '30%'
      },{
        content: 'Price',
        value: 'price',
        type: 'numeric',
        sortable: true,
      },{
        content: 'SKU Number',
        value: 'sku',
        type: 'numeric',
        sortable: true,
      },{
        content: 'Net quantity',
        value: 'qty',
        type: 'numeric',
        sortable: true,
      }]"

        :rows="productsArray"
        :ids="productsIdsArray">
<!--        <template slot="filter">-->
<!--            <PPopover :active="active" full-width @close="toggleRatingFilter" id="popover_1" zIndex="999">-->
<!--            </PPopover>-->
<!--        </template>-->
    </PDataTable>
        <PModal :secondaryActions="[{content:'Cancel', onAction: () => {is_active = false}}]" title="Product Details" :open="is_active" sectioned @close="is_active = false">
            <strong>Title</strong> :{{product.title}} <br/>
            <strong>Total Inventory</strong> :{{product.totalInventory}} <br/>
            <strong>Price</strong> :{{product.variants}} <br/>
<!--            <strong>SKU</strong> :{{product.variants.edges[0].node.sku}} <br/>-->
            <strong>Total Variant</strong> :{{product.totalVariants}} <br/>
        </PModal>

</div>
</template>
<script>
    export default {
        data() {
            return {
                products: { },
                product: {},
                cursor : '',
                cursors : [],
                productsArray: [],
                productsIdsArray: [],
                is_active : false,
                is_next : true,
                is_previous : false,
            }
        },
        methods: {
            loadProducts() {
                axios.get('api/getProducts').then(({ data }) => {this.products = data
                    let tempProducts = [];
                    let lastCursor = "";
                    this.products.edges.forEach((product, index) => {
                        var array = []
                        array.push(product.node.title, product.node.variants.edges[0].node.price,
                                   product.node.variants.edges[0].node.sku, product.node.totalInventory);
                        tempProducts.push(array);
                        this.productsIdsArray.push(product.node.id);
                        lastCursor = product.cursor
                        this.cursor = lastCursor;
                    })
                    // console.log(tempProducts);
                    this.productsArray = tempProducts;
                }) ;
            },
            handleUpdate(id) {
                let productId = id.slice(22);
                // alert('api/showProduct/'+productId);
                axios.get('api/showProduct/'+productId).
                then(({ data }) => {this.product = data.data.product}) ;
                this.is_active = true;
                // alert('Handle update for id '+id);
            },
            handleDelete(id) {
                alert('Handle delete for id '+id);
            },
            handleCellAction(id) {
                alert('Handle cell action for '+id);
            },
            handleSearch(val) {
                alert('handle search ' + val);
                this.search = val;
            },
            handleNext() {
                // alert('Go to next page')
                axios.get('api/nextPage/'+this.cursor).then(({ data }) => {this.products = data
                    let tempProducts = [];
                    let lastCursor = "";
                    let cursors = [];
                    this.products.edges.forEach((product, index) => {
                        var array = []
                        array.push(product.node.title, product.node.variants.edges[0].node.price,
                            product.node.variants.edges[0].node.sku, product.node.totalInventory);
                        tempProducts.push(array);
                        cursors.push(product.cursor)
                        this.productsIdsArray.push(product.node.id);
                        this.cursors = cursors;
                        lastCursor = product.cursor
                        this.cursor = lastCursor;
                    })
                    // console.log(tempProducts);
                    // console.log(lastCursor);
                    if (!this.products.pageInfo.hasNextPage){
                        this.is_next = false;
                    }
                    if (this.products.pageInfo.hasPreviousPage){
                        this.is_previous = true;
                    }
                    // console.log(this.cursors);

                    this.productsArray = tempProducts;
                });
            },
            handlePrevious() {
                axios.get('api/previousPage/'+this.cursors[0]).then(({ data }) => {this.products = data
                    let tempProducts = [];
                    let lastCursor = "";
                    let cursors = [];
                    this.products.edges.forEach((product, index) => {
                        var array = []
                        array.push(product.node.title, product.node.variants.edges[0].node.price,
                            product.node.variants.edges[0].node.sku, product.node.totalInventory);
                        tempProducts.push(array);
                        cursors.push(product.cursor)
                        this.productsIdsArray.push(product.node.id);
                        lastCursor = product.cursor
                        this.cursors = cursors;
                        this.cursor = lastCursor;
                    })
                    // console.log(tempProducts);
                    // console.log(lastCursor);
                        this.is_next = true;
                    if (this.products.pageInfo.hasPreviousPage){
                        this.is_previous = true;
                    }else{
                        this.is_previous = false;
                    }
                    this.productsArray = tempProducts;
                });
                },
        },
        created() {
            this.loadProducts();
            // axios.get('api/getProducts').then(({ data }) => (this.products = data)) ;
        }
    }
</script>
<!--{content: 'Mauve Cashmere Scarf', url: 'https://www.google.com/'},-->
<!--'$230.00',-->
<!--{content: 'A-1234', status:'success', progress:'incomplete'},-->
<!--2,-->
