
<template>
    <div>
        <PCard title="Product title" sectioned>
            <PCardSection>
                {{product.product.handle}}
            </PCardSection>
            <PCardSection title='variant detail'>
                <PCardSubsection>
                    Total Variants <br/>
                    {{product.product.totalVariants}}<br/>

                </PCardSubsection>
                <PCardSubsection >
                    <PDisplayText size="small" element="p" >Variant Details</PDisplayText>
                    {{product.product.variants.edges[0].node.title}} <br/>
                    {{product.product.variants.edges[0].node.sku}} <br/>
                    {{product.product.variants.edges[0].node.price}}  <br/>
                </PCardSubsection>
            </PCardSection>
            <PCardSection>
                Total Inventory ::
                {{product.product.totalInventory}}
            </PCardSection>
        </PCard>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                product: { },
                productsArray: [],
            }
        },
         created() {
            let productId = '6655742050469';
            axios.get('api/showProduct/'+productId).
            then(({ data }) => (this.product = data.data)) ;
        }
    }
</script>

<style scoped>

</style>
